.navbar {
    display: flex;
    justify-content: center;
    .container {
        width: 1400px;
        .logo {
            .text{}
            .dot{

            }
        }
        .links {
            span {

            }
        }
    }
}